@model DichVu1ViewModel
@{
    ViewData["Title"] = "Edit DV";
    //var tkChoMaKh = (List<string>)ViewBag.tkChoMaKh;
}
<!-- Main content -->
@*<section class="content">*@

<style>

    /*
        more
    */

    .spinner {
        border: 16px solid silver !important;
        border-top: 16px solid #337AB7 !important;
        border-radius: 50% !important;
        width: 80px !important;
        height: 80px !important;
        animation: spin 700ms linear infinite !important;
        top: 50% !important;
        left: 50% !important;
        transform: translate(-50%, -50%);
        position: absolute !important;
    }

    .room-image {
        display: block;
        width: 100%;
        height: 150px;
        background-size: cover !important;
        border: 3px solid green;
        position: relative;
    }

    .room-image-title {
        position: absolute;
        top: 0;
        right: 0;
        background-color: green;
        color: white;
        padding: 0px 6px;
        display: inline-block
    }
</style>

<div class="card">
    <div class="card-header">
        <h3 class="card-title"><i class="fas fa-file text-info"></i> Cập nhật DV - <span>@Model.SupplierDTO.Code</span></h3>

        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                <i class="fas fa-minus"></i>
            </button>
            <a class="btn btn-tool" asp-action="BackIndex" asp-route-id="@Model.SupplierDTO.Code" asp-route-page="@Model.Page">
                <i class="fas fa-times"></i>
            </a>
            @*<button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                <i class="fas fa-times"></i>
                </button>*@
        </div>
    </div>

    <div class="card-body p-0">

        <form autocomplete="off" id="frmEditDichVu1" enctype="multipart/form-data">
            <div class="col-5">
            </div>
            <div class="pr-4 pl-4 text-sm">

                <div asp-validation-summary="All" class="text-danger"></div>
                <input type="hidden" asp-for="DichVu1DTO.MaDv" />
                <input type="hidden" asp-for="DichVu1DTO.NguoiTao" />
                <input type="hidden" asp-for="DichVu1DTO.NgayTao" />
                <input type="hidden" asp-for="DichVu1DTO.SupplierId" />
                <input type="hidden" asp-for="Page" />
                <input type="hidden" asp-for="SearchString" />
                <input type="hidden" asp-for="DichVu1DTO.StringImageUrls" />
                @*<input type="hidden" asp-for="StrUrl" />*@
                <!--Thông tin về tài chánh-->
                @*<fieldset class="groupbox-border ">
                    <legend class="groupbox-border">Thông tin về tài chánh </legend>*@

                <div class=" row">

                    <div class="col-md-8">
                        <label asp-for="DichVu1DTO.TenHd" class="control-label"></label>@*(<strong class="text-red">*</strong>)*@
                        <input asp-for="DichVu1DTO.TenHd" class="form-control form-control-sm " id="txtTenHd" />
                        <span asp-validation-for="DichVu1DTO.TenHd" class="text-danger"></span>
                    </div>

                    <div class="col-md-2">
                        <label asp-for="DichVu1DTO.NguoiTrinhKy" class="control-label"></label>
                        <select asp-for="DichVu1DTO.NguoiTrinhKy" class="form-control form-control-sm select2"
                                asp-items="@(new SelectList(Model.UserDTOs, "Username", "Hoten"))" id="ddlNguoiTrinhKy">
                        </select>
                        <span asp-validation-for="DichVu1DTO.NguoiTrinhKy" class="text-danger"></span>
                    </div>

                    <div class="col-md-2">
                        <label asp-for="DichVu1DTO.NgayTrinhKy" class="control-label"></label>@*(<strong class="text-red">*</strong>)*@
                        <input asp-for="DichVu1DTO.NgayTrinhKy" class="form-control form-control-sm maskInput" asp-format="{0:dd/MM/yyyy}" type="text" id="txtNgayTrinhKy" />
                        <span asp-validation-for="DichVu1DTO.NgayTrinhKy" class="text-danger"></span>
                    </div>

                </div>

                <div class=" row">

                    <div class="col-md-12">
                        <label asp-for="DichVu1DTO.NoiDung" class="control-label"></label>
                        <textarea asp-for="DichVu1DTO.NoiDung" class="form-control form-control-sm" rows="5" id="txtNoiDung">
                        </textarea>

                        <span asp-validation-for="DichVu1DTO.NoiDung" class="text-danger"></span>
                    </div>

                </div>


                @*</fieldset>*@

                <div class=" row">

                    <div class="col-md-2">
                        <label asp-for="DichVu1DTO.HoatDong" class="control-label"></label>
                        <input asp-for="DichVu1DTO.HoatDong" class="form-control form-control-sm" id="ckHoatDong" type="checkbox" />
                        <span asp-validation-for="DichVu1DTO.HoatDong" class="text-danger"></span>
                    </div>

                    <div class="col-md-2">
                        <label asp-for="DichVu1DTO.Tuyen" class="control-label"></label>
                        <input asp-for="DichVu1DTO.Tuyen" class="form-control form-control-sm" id="txtTuyen" />
                        <span asp-validation-for="DichVu1DTO.Tuyen" class="text-danger"></span>
                    </div>

                    <div class="col-md-3">
                        <label asp-for="DichVu1DTO.LoaiTau" class="control-label"></label>
                        <input asp-for="DichVu1DTO.LoaiTau" class="form-control form-control-sm" id="txtLoaiTau" />
                        <span asp-validation-for="DichVu1DTO.LoaiTau" class="text-danger"></span>
                    </div>

                    <div class="col-md-3">
                        <label asp-for="DichVu1DTO.LoaiXe" class="control-label"></label>
                        <input asp-for="DichVu1DTO.LoaiXe" class="form-control form-control-sm" id="txtLoaiXe" />
                        <span asp-validation-for="DichVu1DTO.LoaiXe" class="text-danger"></span>
                    </div>

                    <div class="col-md-2">
                        <label asp-for="DichVu1DTO.LoaiDvid" class="control-label"></label>
                        <!--select2-->
                        <select asp-for="DichVu1DTO.LoaiDvid" class="form-control form-control-sm select2"
                                asp-items="@(new SelectList(Model.LoaiDvs, "Id", "TenLoai"))" id="ddlLoaiDv">
                        </select>
                        <span asp-validation-for="DichVu1DTO.LoaiDvid" class="text-danger"></span>
                    </div>

                </div>
                
                <div class=" row">

                    <div class="col-md-2">
                        <label asp-for="DichVu1DTO.BatDauHd" class="control-label"></label>
                        <input asp-for="DichVu1DTO.BatDauHd" class="form-control form-control-sm " type="date" id="txtBatDauHd" />
                        <span asp-validation-for="DichVu1DTO.BatDauHd" class="text-danger"></span>
                    </div>
                    
                    <div class="col-md-2">
                        <label asp-for="DichVu1DTO.KetThucHd" class="control-label"></label>
                        <input asp-for="DichVu1DTO.KetThucHd" class="form-control form-control-sm " type="date" id="txtKetThucHd" />
                        <span asp-validation-for="DichVu1DTO.KetThucHd" class="text-danger"></span>
                    </div>
                    
                    <div class="col-md-1">
                        <label asp-for="DichVu1DTO.HotDeal" class="control-label"></label>
                        <input asp-for="DichVu1DTO.HotDeal" class="form-control form-control-sm " type="checkbox" id="ckHotDeal" />
                        <span asp-validation-for="DichVu1DTO.HotDeal" class="text-danger"></span>
                    </div>
                    
                    <div class="col-md-7">
                        <label asp-for="DichVu1DTO.GhiChu" class="control-label"></label>
                        <input asp-for="DichVu1DTO.GhiChu" class="form-control form-control-sm" id="txtGhiChu" />
                        <span asp-validation-for="DichVu1DTO.GhiChu" class="text-danger"></span>
                    </div>

                </div>


                <div class=" row">
                    <div class="col-md-12">
                        <br />
                        <label class="control-label">Hình ảnh &nbsp;</label>
                        <input type="file" name="files" onchange="HandleImage()" multiple />
                        <div class="row">
                            <input type="hidden" name="imageUrl" id="hidHinhAnh" />
                            <input type="hidden" name="dichVu1Id" id="hidDichVu1Id" />
                            @if (Model.DichVu1DTO.ImageUrls != null && Model.DichVu1DTO.ImageUrls.Count > 0)
                            {
                                int serial = 1;
                                foreach (var roomImage in Model.DichVu1DTO.ImageUrls)
                                {
                                            <div class="col-md-2 mt-3">
                                                <!--class="room-image" in site.css-->
                                <div class="room-image" style="background: url('@roomImage') 50% 50%">
                                                    <!--class="room-image-title" in site.css-->
                                    <span class="room-image-title">@serial</span>
                                                </div>

                                                <button type="button" class="btn btn-outline-danger btn-block mt-4 btnDeleteHinhAnh" data-imageurl="@roomImage">
                                                    Delete
                                                </button>
                                            </div>
                                    serial++;

                                }
                            }
                        </div>
                    </div>
                </div>

                <div class=" pt-1 pb-1">
                    <button type="submit" formaction="/DichVu1/EditDichVu1" formmethod="post" class="btn btn-primary btn-sm" id="btnKVCTPCTCreatePartial_Save"><i class="fas fa-save"></i> Save</button>
                    <button type="submit" formaction="/DichVu1/ThemMoiDichVu1HinhAnh" formmethod="post" hidden id="btnThemMoiDichVu1HinhAnh"></button>
                    <button type="submit" formaction="/DichVu1/DeletePhoto" formmethod="post" hidden id="btnDeleteHinhAnh_Hide"></button>
                    <a class="btn btn-success btn-sm" asp-action="Index" asp-controller="Supplier" asp-route-id="@Model.SupplierDTO.Code" asp-route-page="@Model.Page"><i class="fas fa-backward "></i> Back</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts{
@*
    <script src="~/js/Admin/Home/indexController.js"></script>
    <script src="~/js/Admin/serviceController.js"></script>
*@
<script>
    $( document ).ready(function() {
        $('#txtNoiDung').summernote('code');
    });
    ////Date range picker
    //$('#txtThoiGianHd').daterangepicker({
    //               locale: {
    //                        format: 'DD/MM/YYYY'
    //                        }
    //             })
                 // summernote
    $('#txtNoiDung').summernote({
        height: 100,
        toolbar: false
    });
    

</script>

<!-- select2 and multi select2 (bootstrap4)-->
<script>
    $('.btnDeleteHinhAnh').off('click').on('click', function(e){
        imageUrl = $(this).data('imageurl');
        dichVu1Id = '@Model.DichVu1DTO.MaDv';

        $('#hidHinhAnh').val(imageUrl);
        $('#hidDichVu1Id').val(dichVu1Id);
        $('#btnDeleteHinhAnh_Hide').click();
    })

    //$('#txtMaKH').select2()
    $('.select2').select2()
    //$('#ddlMaKhCo1').select2()
    //Initialize Select2 Elements
    $('.select2bs4').select2({
        theme: 'bootstrap4'
    })
    //$('.tuyenTQ').select2({
    //    theme: 'bootstrap4'
    //})
</script>

<!-- Validation -->

<script>
    /*$(".maskInput").mask("99/99/9999");*/

    $('#frmEditDichVu1').validate({
        //rules: {
        //    email: {
        //        required: true,
        //        email: true,
        //    },
        //    NgayDen: {
        //        required: true
        //    },
        //    chuDetour1: {
        //        required: true
        //    },
        //},
        //messages: {
        //    email: {
        //        required: "Please enter a email address",
        //        email: "Please enter a vaild email address"
        //    },
        //    NgayDen: {
        //        required: "Please provide a date"
        //    },
        //    chuDetour1: "Please enter value"
        //},
        errorElement: 'span',
        errorPlacement: function (error, element) {
            // add error text

            //error.addClass('invalid-feedback').removeClass('error');
            //element.closest('.chuDeTourGroup').append(error);
        },
        highlight: function (element, errorClass, validClass) {
            $(element).addClass('is-invalid');
        },
        unhighlight: function (element, errorClass, validClass) {
            $(element).removeClass('is-invalid');
        }
    });

    //$('#ddlDienGiai').rules('add', {
    //    required: true,
    //    messages: {
    //        //required: "Chủ đề không được để trống"
    //    }
    //});

    function HandleImage(){
        $('#hidDichVu1Id').val('@Model.DichVu1DTO.MaDv');
        $('#btnThemMoiDichVu1HinhAnh').click();
    }
</script>

}