@model DichVu1ViewModel
@{
    ViewData["Title"] = "Them DV";
    //var tkChoMaKh = (List<string>)ViewBag.tkChoMaKh;
}
<!-- Main content -->
@*<section class="content">*@

<div class="card">
    <div class="card-header">
        <h3 class="card-title"><i class="fas fa-file text-info"></i> Thêm DV - <span>@Model.SupplierDTO.Code</span></h3>

        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                <i class="fas fa-minus"></i>
            </button>
            <a class="btn btn-tool" asp-action="BackIndex" asp-route-id="@Model.SupplierDTO.Code" asp-route-page="@Model.Page">
                <i class="fas fa-times"></i>
            </a>
            @*<button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                <i class="fas fa-times"></i>
                </button>*@
        </div>
    </div>

    <div class="card-body p-0">

        <form method="post" autocomplete="off" id="frm_KVCTPCT_Create" enctype="multipart/form-data">
            <div class="pr-4 pl-4 text-sm">

                <div asp-validation-summary="All" class="text-danger"></div>
                <input type="hidden" asp-for="DichVu1DTO.SupplierId" />
                @*<input type="hidden" asp-for="StrUrl" />*@
                <!--Thông tin về tài chánh-->
                @*<fieldset class="groupbox-border ">
                    <legend class="groupbox-border">Thông tin về tài chánh </legend>*@

                <div class=" row">

                    <div class="col-md-11">
                        <label asp-for="DichVu1DTO.TenDv" class="control-label"></label>@*(<strong class="text-red">*</strong>)*@
                        <input asp-for="DichVu1DTO.TenDv" class="form-control form-control-sm " id="txtTenDv" />
                        <span asp-validation-for="DichVu1DTO.TenDv" class="text-danger"></span>
                    </div>

                    <div class="col-md-1">
                        <label asp-for="DichVu1DTO.DonViKyKet" class="control-label"></label>
                        <input asp-for="DichVu1DTO.DonViKyKet" class="form-control form-control-sm " id="txtDonViKyKet" />
                        <span asp-validation-for="DichVu1DTO.DonViKyKet" class="text-danger"></span>
                    </div>
                </div>

                <div class=" row">

                    <div class="col-md-4">
                        <label asp-for="DichVu1DTO.QuocGia" class="control-label"></label>
                        <select asp-for="DichVu1DTO.QuocGia" class="form-control form-control-sm input-sm select2"
                                asp-items="@(new SelectList(Model.Quocgias, "TenNuoc", "TenNuoc"))" id="ddlQuocQia">
                            <option>-- Select --</option>
                        </select>
                        <span asp-validation-for="DichVu1DTO.QuocGia" class="text-danger"></span>
                    </div>

                    <div class="col-md-2">
                        <label asp-for="DichVu1DTO.Mien" class="control-label "></label>
                        <select asp-for="DichVu1DTO.Mien" class="form-control form-control-sm input-sm select2"
                                asp-items="@(new SelectList(Model.Vungmiens, "VungId", "TenVung"))" id="ddlMien">
                            <option>-- Select --</option>
                        </select>
                        <span asp-validation-for="DichVu1DTO.Mien" class="text-danger"></span>
                    </div>

                    <div class="col-md-2">
                        <label asp-for="DichVu1DTO.Tinh" class="control-label "></label>
                        <select asp-for="DichVu1DTO.Tinh" class="form-control form-control-sm input-sm select2"
                                asp-items="@(new SelectList(Model.VTinhs, "Matinh", "Tentinh"))" id="ddlTinh">
                            <option>-- Select --</option>
                        </select>
                        <span asp-validation-for="DichVu1DTO.Tinh" class="text-danger"></span>
                    </div>

                    <div class="col-md-4">
                        <label asp-for="DichVu1DTO.ThanhPho" class="control-label"></label>
                        @*<input asp-for="SupplierDTO.Thanhpho" class="form-control form-control-sm " id="txtThanhPho" />*@
                        <select asp-for="DichVu1DTO.ThanhPho" class="form-control form-control-sm input-sm select2"
                                asp-items="@(new SelectList(Model.Thanhpho1s, "Matp", "Tentp"))" id="ddlThanhPho">
                            <option>-- Select --</option>
                        </select>
                        <span asp-validation-for="DichVu1DTO.ThanhPho" class="text-danger"></span>
                    </div>
                </div>

                <div class=" row">

                    <div class="col-md-4">
                        <label asp-for="DichVu1DTO.LoaiSao" class="control-label"></label>
                        <!--select2-->
                        <select asp-for="DichVu1DTO.LoaiSao" class="form-control form-control-sm select2"
                                asp-items="@(new SelectList(Model.LoaiSaos, "Tkhoan", "TenTk"))" id="ddlLoaiSao">
                        </select>
                        <span asp-validation-for="DichVu1DTO.LoaiSao" class="text-danger"></span>
                    </div>

                    <div class="col-md-8">
                        <label asp-for="DichVu1DTO.ThongTinLienHe" class="control-label"></label>
                        <input asp-for="DichVu1DTO.ThongTinLienHe" class="form-control form-control-sm" id="txtThongTinLienHe" />
                        <span asp-validation-for="DichVu1DTO.ThongTinLienHe" class="text-danger"></span>
                    </div>
                </div>

                <div class=" row">

                    <div class="col-md-8">
                        <label asp-for="DichVu1DTO.DiaChi" class="control-label"></label>
                        <input asp-for="DichVu1DTO.DiaChi" class="form-control form-control-sm" id="txtDiaChi" />
                        <span asp-validation-for="DichVu1DTO.DiaChi" class="text-danger"></span>
                    </div>

                    <div class="col-md-2">
                        <label asp-for="DichVu1DTO.Email" class="control-label"></label>
                        <input asp-for="DichVu1DTO.Email" class="form-control form-control-sm" id="txtEmail" />
                        <span asp-validation-for="DichVu1DTO.Email" class="text-danger"></span>
                    </div>

                    <div class="col-md-2">
                        <label asp-for="DichVu1DTO.DienThoai" class="control-label"></label>
                        <input asp-for="DichVu1DTO.DienThoai" class="form-control form-control-sm" id="txtDienThoai" />
                        <span asp-validation-for="DichVu1DTO.DienThoai" class="text-danger"></span>
                    </div>
                </div>

                <div class=" row">

                    <div class="col-md-12">
                        <label asp-for="DichVu1DTO.NoiDung" class="control-label"></label>
                        <textarea asp-for="DichVu1DTO.NoiDung" class="form-control form-control-sm" id="txtNoiDung">
                        </textarea>

                        <span asp-validation-for="DichVu1DTO.NoiDung" class="text-danger"></span>
                    </div>
                </div>
                @*</fieldset>*@

                <div class=" row">

                    <div class="col-md-3">
                        <label asp-for="DichVu1DTO.NguoiLienHe" class="control-label"></label>
                        <input asp-for="DichVu1DTO.NguoiLienHe" class="form-control form-control-sm" id="txtNguoiLienHe" />
                        <span asp-validation-for="DichVu1DTO.NguoiLienHe" class="text-danger"></span>
                    </div>

                    <div class="col-md-2">
                        <label asp-for="DichVu1DTO.Website" class="control-label"></label>
                        <input asp-for="DichVu1DTO.Website" class="form-control form-control-sm" id="txtWebsite" />
                        <span asp-validation-for="DichVu1DTO.Website" class="text-danger"></span>
                    </div>

                    <div class="col-md-2">
                        <label asp-for="DichVu1DTO.DaKy" class="control-label"></label>
                        <input asp-for="DichVu1DTO.DaKy" class="form-control form-control-sm" id="ckDienThoai" type="checkbox" />
                        <span asp-validation-for="DichVu1DTO.DaKy" class="text-danger"></span>
                    </div>

                    <div class="col-md-2">
                        <label asp-for="DichVu1DTO.HoatDong" class="control-label"></label>
                        <input asp-for="DichVu1DTO.HoatDong" class="form-control form-control-sm" id="ckHoatDong" type="checkbox" />
                        <span asp-validation-for="DichVu1DTO.HoatDong" class="text-danger"></span>
                    </div>

                    <div class="col-md-3">
                        <label asp-for="DichVu1DTO.Tuyen" class="control-label"></label>
                        <input asp-for="DichVu1DTO.Tuyen" class="form-control form-control-sm" id="txtTuyen" />
                        <span asp-validation-for="DichVu1DTO.Tuyen" class="text-danger"></span>
                    </div>
                </div>

                <div class=" row">

                    <div class="col-md-3">
                        <label asp-for="DichVu1DTO.LoaiTau" class="control-label"></label>
                        <input asp-for="DichVu1DTO.LoaiTau" class="form-control form-control-sm" id="txtLoaiTau" />
                        <span asp-validation-for="DichVu1DTO.LoaiTau" class="text-danger"></span>
                    </div>

                    <div class="col-md-3">
                        <label asp-for="DichVu1DTO.DauXe" class="control-label"></label>
                        <input asp-for="DichVu1DTO.DauXe" class="form-control form-control-sm" id="ckDauXe" type="checkbox" />
                        <span asp-validation-for="DichVu1DTO.DauXe" class="text-danger"></span>
                    </div>

                    <div class="col-md-3">
                        <label asp-for="DichVu1DTO.GhiChu" class="control-label"></label>
                        <input asp-for="DichVu1DTO.GhiChu" class="form-control form-control-sm" id="txtGhiChu" />
                        <span asp-validation-for="DichVu1DTO.GhiChu" class="text-danger"></span>
                    </div>

                    <div class="col-md-2">
                        <label asp-for="DichVu1DTO.GiaHd" class="control-label"></label>
                        <input asp-for="DichVu1DTO.GiaHd" class="form-control form-control-sm" id="txtGiaHd" asp-format="{0:0,0}" />
                        <span asp-validation-for="DichVu1DTO.GiaHd" class="text-danger"></span>
                    </div>

                    <div class="col-md-2">
                        <label asp-for="DichVu1DTO.LoaiHd" class="control-label"></label>
                        <input asp-for="DichVu1DTO.LoaiHd" class="form-control form-control-sm" id="txtLoaiHd" />
                        <span asp-validation-for="DichVu1DTO.LoaiHd" class="text-danger"></span>
                    </div>

                    <div class="col-md-4">
                        <label asp-for="DichVu1DTO.LoaiDvid" class="control-label"></label>
                        <!--select2-->
                        <select asp-for="DichVu1DTO.LoaiDvid" class="form-control form-control-sm select2"
                                asp-items="@(new SelectList(Model.LoaiDvs, "MaLoai", "TenLoai"))" id="ddlLoaiDv">
                        </select>
                        <span asp-validation-for="DichVu1DTO.LoaiSao" class="text-danger"></span>
                    </div>
                </div>

                <div class=" pt-1 pb-1">
                    <button type="button" class="btn btn-primary btn-sm" id="btnKVCTPCTCreatePartial_Save"><i class="fas fa-save"></i> Save</button>
                    <a class="btn btn-success btn-sm" asp-action="BackIndex" asp-route-id="@Model.KVPTC.Id" asp-route-page="@Model.Page"><i class="fas fa-backward "></i> Back</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts{

    <script src="~/js/Admin/Home/indexController.js"></script>
    <script src="~/js/Admin/serviceController.js"></script>

    <!-- select2 and multi select2 (bootstrap4)-->
    <script>
        //$('#txtMaKH').select2()
        $('.select2').select2()
        //$('#ddlMaKhCo1').select2()
        //Initialize Select2 Elements
        $('.select2bs4').select2({
            theme: 'bootstrap4'
        })
        //$('.tuyenTQ').select2({
        //    theme: 'bootstrap4'
        //})
    </script>

    <!-- Validation -->

    <script>
    /*$(".maskInput").mask("99/99/9999");*/

    // $(document).ready(function (){})
    $(document).ready(function () {
        loaiPhieu = '@Model.KVPTC.MFieu';
        if (loaiPhieu == 'T') {
            serviceController.DdlTkNo('1111000000');
        }
        else {
            serviceController.DdlTkCo('1111000000');
        }
    });
    //// enter for search
    //shortcut.add("Enter", function () {
    //    $('#btnKhSearch').click()
    //});

    var validSubmitSave = true;
    // check loaiHD VAT
    $('#ddlLoaiHDGoc').off('change').on('change', function(){
        if($('#ddlLoaiHDGoc').val() === 'VAT'){
            $('#txtSoCTGoc').addClass('is-invalid');
            $('#txtKyHieu').addClass('is-invalid');
            $('#txtMauSoHD').addClass('is-invalid');
            $('#txtNgayCTGoc').addClass('is-invalid');

            var soCTGoc = $('#txtSoCTGoc').val();
            var kyHieu = $('#txtKyHieu').val();
            var mauSo = $('#txtMauSoHD').val();
            var ngayCTGoc = $('#txtNgayCTGoc').val();

            if(soCTGoc === '' || kyHieu === '' || mauSo === '' || ngayCTGoc === '' ){
                validSubmitSave = false;
            }
        }
        else{
            $('#txtSoCTGoc').removeClass('is-invalid');
            $('#txtKyHieu').removeClass('is-invalid');
            $('#txtMauSoHD').removeClass('is-invalid');
            $('#txtNgayCTGoc').removeClass('is-invalid');
            validSubmitSave = true;
        }

    })
    // check loaiHD VAT

    $('.btnKhSearch').click(function () {

        var maKhtext = '';
        var txtMaKh = '';

        if ($(this).data('name') === 'maKhNo') { // search off no
            maKhtext = $('#txtMaKhNo').val();
            txtMaKh = 'maKhNo';
        }
        if ($(this).data('name') === 'maKhCo') { // search off co
            maKhtext = $('#txtMaKhCo').val();
            txtMaKh = 'maKhCo';
        }

        $('#hidTxtMaKh').val(txtMaKh);

        KhachHangSearch(maKhtext, txtMaKh);
    })

    $('#txtMaKhNo').blur(function () {

        maKhtext = $(this).val();

        //KhachHang_By_Code(maKhtext);
        indexController.KhachHang_By_Code(maKhtext, 'txtMaKhNo');
    })

    $('#txtMaKhCo').blur(function () {

        maKhtext = $(this).val();

        //KhachHang_By_Code(maKhtext);
        indexController.KhachHang_By_Code(maKhtext, 'txtMaKhCo');
    })

    @*$('#ddlNgoaiTe').change(function () {
                        loaiTien = $(this).val();
                        loaiPhieu = '@Model.KVPCT.MFieu';
                        serviceController.DdlLoaiTien(loaiTien, loaiPhieu);

                        if (loaiPhieu == 'T') {
                            serviceController.DdlTkNo('1111000000');
                        }
                        if (loaiPhieu == 'C') {
                            serviceController.DdlTkCo('1111000000');
                        }
                    })*@

    $('#frm_KVCTPCT_Create').validate({
        //rules: {
        //    email: {
        //        required: true,
        //        email: true,
        //    },
        //    NgayDen: {
        //        required: true
        //    },
        //    chuDetour1: {
        //        required: true
        //    },
        //},
        //messages: {
        //    email: {
        //        required: "Please enter a email address",
        //        email: "Please enter a vaild email address"
        //    },
        //    NgayDen: {
        //        required: "Please provide a date"
        //    },
        //    chuDetour1: "Please enter value"
        //},
        errorElement: 'span',
        errorPlacement: function (error, element) {
            // add error text

            //error.addClass('invalid-feedback').removeClass('error');
            //element.closest('.chuDeTourGroup').append(error);
        },
        highlight: function (element, errorClass, validClass) {
            $(element).addClass('is-invalid');
        },
        unhighlight: function (element, errorClass, validClass) {
            $(element).removeClass('is-invalid');
        }
    });

    $('#ddlDienGiai').rules('add', {
        required: true,
        messages: {
            //required: "Chủ đề không được để trống"
        }
    });

    // sotien
    $('#txtSoTienNT').blur(function () {

        serviceController.TinhSoTien();

    })

    $('#txtTyGia').blur(function () {

        serviceController.TinhSoTien();

    })
    // sotien
    // btnKVCTPCTCreatePartial_Save
    $('#btnKVCTPCTCreatePartial_Save').off('click').on('click', function () {

        if($('#ddlLoaiHDGoc').val() === 'VAT'){
            var soCTGoc = $('#txtSoCTGoc').val();
            var kyHieu = $('#txtKyHieu').val();
            var mauSo = $('#txtMauSoHD').val();
            var ngayCTGoc = $('#txtNgayCTGoc').val();

            if(soCTGoc !== '' && kyHieu !== '' && mauSo !== '' && ngayCTGoc !== '' ){
                validSubmitSave = true;
            }

        }

        if(validSubmitSave){

            $('#frm_KVCTPCT_Create').submit();
        }
        else{
            toastr.warning("Chưa điền đủ thông tin!");
        }
    });

    // AutoSgtcode
    $('#txtSgtcode').blur(function () {
        sgtcodeText = $(this).val();
        serviceController.AutoSgtcode(sgtcodeText);
    })

    // get dien giai by tkno tkco
    $('#ddlTkNo').change(function () {

        tkNo = $(this).val();
        tkCo = $('#ddlTkCo').val();

        serviceController.DdlTkNo(tkNo);
        serviceController.Get_DienGiai_By_TkNo_TkCo(tkNo, tkCo);

        // TkChoMaKh(tkNo);
    })
    $('#ddlTkCo').change(function () {
        tkCo = $(this).val();
        tkNo = $('#ddlTkNo').val();

        serviceController.DdlTkCo(tkCo);
        serviceController.Get_DienGiai_By_TkNo_TkCo(tkNo, tkCo);

        // TkChoMaKh(tkCo);
    })

    var tkNo = $('#ddlTkNo').val();
    var tkCo = $('#ddlTkCo').val();
    if(tkNo !== '' && tkCo !== ''){  // truong hop copy dong
        serviceController.Get_DienGiai_By_TkNo_TkCo(tkNo, tkCo);
    }
    // get dien giai by tkno tkco

    // VAT ==> DSKhongVAT
    $('#txtVAT').blur(function () {
        vat = $(this).val();
        soTien = $('#txtSoTien').val();

        serviceController.TxtVAT_Blur(vat, soTien);
    })
    // VAT ==> DSKhongVAT

    function KhachHangSearch(code) {

        $.get('/DichVu1DTOs/GetKhachHangs_HDVATOB_By_Code', { code: code }, function (data) {

            $('#khachHang_Modal').modal('show');
            $('.khachHang_Modal_Body').html(data);
            $('#khachHang_Modal').draggable();
        });
    }

    // TkChoMaKh
    function TkChoMaKh(tk) {
        var loaiPhieu = '@Model.KVPTC.MFieu';
        if(loaiPhieu === 'C'){
            $.post('/DichVu1DTOs/TkChoMaKh', { tk: tk }, function (response) {
                if(response){
                    if($('#txtMaKhNo').val() === ''){
                        toastr.error("MaKhNo không được để trống.");
                    }
                }
            });
        }
        if(loaiPhieu === 'T'){
            $.post('/DichVu1DTOs/TkChoMaKh', { tk: tk }, function (response) {
                if(response){
                    if($('#txtMaKhCo').val() === ''){
                        toastr.error("MaKhCo không được để trống.");
                    }
                }
            });
        }

    }
    </script>

}