@model ThanhPho1ViewModel

@using Microsoft.AspNetCore.Http
@using Data.Utilities
@inject IHttpContextAccessor HttpContextAccessor

@{

    var user = HttpContextAccessor.HttpContext.Session.GetSingle<User>("loginUser");
}

<h3 class="pl-2">Danh sách Thành phố / Thị xã thuộc @Model.TinhDTO.Tentinh</h3>

<div class="pr-2 pl-2" style="overflow-x:auto; overflow-y:auto">
    <table class="table mytable text-nowrap text-sm" id="thanhPho1Tbl">
        <thead>
            <tr class="table-info">

                <th> <button type="button" class="btn btn-outline-info btn-sm text-bold btn-block" id="btnNewThanhPho1" data-tinhid="@Model.TinhDTO.Matinh" title="Thêm mới thành phố"><i class="fas fa-plus"></i></button></th>
                <th>@Html.DisplayNameFor(m => m.ThanhPho1DTOs.FirstOrDefault().Matp)</th>
                <th>@Html.DisplayNameFor(m => m.ThanhPho1DTOs.FirstOrDefault().Tentp)</th>

            </tr>
        </thead>
        <tbody>
            @if (Model.ThanhPho1DTOs != null)
            {
                @foreach (var item in Model.ThanhPho1DTOs)
                {

                    <tr class="cursor-pointer " @*data-sotudatt="@item.SoTT_DaTao"*@>

                        <td>
                            <div class="btn-group text-white" role="group">

                                <button type="button" class="text-primary border-0 bg-transparent btnEditThanhPho1" title="Cập nhật" data-id="@item.Matp" data-tinhid="@item.Matinh"><i class="fas fa-edit"></i></button>

                                <span class="text-dark"> | </span>
                                <span id="confirmDeleteSpan_@item.Matp" style="display: none">

                                    <span class="text-dark ">Xoá?</span>
                                    <button type="button" class="btn btn-danger btn-xs btnXoaThanhPho1" data-tinhid="@item.Matinh" data-id="@item.Matp">Yes</button>
                                    <button type="button" class="btn btn-primary btn-xs" onclick="confirmDelete('@item.Matp', false)">No</button>
                                </span>
                                <span id="deleteSpan_@item.Matp">

                                    <button type="button" data-id="@item.Matp" class="text-danger border-0 bg-transparent btnXoa" title="Xoá" onclick="confirmDelete('@item.Matp', true)"><i class="fas fa-trash-alt"></i></button>
                                </span>

                            </div>
                        </td>

                        <td class="tdVal_KVCTPCT" data-id="@item.Matp">@Html.DisplayFor(m => item.Matp)</td>
                        <td class="tdVal_KVCTPCT" data-id="@item.Matp">@Html.DisplayFor(m => item.Tentp)</td>

                    </tr>

                }
            }
        </tbody>
    </table>
</div>

<script src="~/js/Admin/TinhTP/indexController.js"></script>
<script>
    function confirmDelete(uniqueId, isDeleteClicked) {

        var deleteSpan = 'deleteSpan_' + uniqueId;
        var confirmDeleteSpan = 'confirmDeleteSpan_' + uniqueId;

        if (isDeleteClicked) {
            $('#' + deleteSpan).hide();
            $('#' + confirmDeleteSpan).show();
        } else {
            $('#' + deleteSpan).show();
            $('#' + confirmDeleteSpan).hide();
        }
    }

    // btnXoaThanhPho1
    $('.btnXoaThanhPho1').off('click').on('click',function () {

        var maTinh = '@Model.TinhDTO.Matinh';

        id = $(this).data('id');

        var url = '/ThanhPho1DTOs/Delete';
        $.post(url, { id: id }, function (response) {
            
            if (response) {
                toastr.success('Xoá thành công', 'Xoá!');
                indexController.Load_ThanhPho1Partial(maTinh);
            }
        });

    });
        // btnXoaThanhPho1
        // giu trang thai phieu click
        $('#thanhPho1Tbl .cursor-pointer').off('click').on('click', function () {
            if ($(this).hasClass("hoverClass"))
                $(this).removeClass("hoverClass");
            else {
                $('.cursor-pointer').removeClass("hoverClass");
                $(this).addClass("hoverClass");
            }
        });
        // giu trang thai phieu click

        // btnNewThanhPho1
        $('#btnNewThanhPho1').off('click').on('click', function () {

            tinhid = $(this).data('tinhid');

            $('#ThanhPho1_Tbl').hide(500);

            var url = '/ThanhPho1/Create_Partial';
            $.get(url, { tinhid: tinhid }, function (response) {

                $('#ThanhPho1_Create_Partial').show(500);
                $('#ThanhPho1_Create_Partial').html(response);

            });
        });
        // btnNewThanhPho1

</script>