@model SupplierViewModel

@using Microsoft.AspNetCore.Http
@using Data.Utilities
@using Common;
@inject IHttpContextAccessor HttpContextAccessor
@{
    var user = HttpContextAccessor.HttpContext.Session.GetSingle<Data.Models.User>("loginUser");

}

<!--tour programe-->
<div class="pl-2 "><h3><strong>Đánh giá nhà cung ứng</strong></h3></div>
<div class="row ml-2 mr-2">

    <div class="card card-primary card-outline card-outline-tabs">
        <div class="card-header p-0 border-bottom-0">
            <ul class="nav nav-tabs" @*id="custom-tabs-four-tab"*@ id="myTabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="nhahang-tab" data-toggle="pill" href="#tab_nhaHang" role="tab" aria-controls="custom-tabs-four-home" aria-selected="true">Nhà hàng</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="khachsan-tab" data-toggle="pill" data-supplierid="@Model.SupplierDTO.Code" href="#tab_khachSan" role="tab" aria-controls="custom-tabs-four-profile" aria-selected="false">Khách sạn</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="landtour-tab" data-toggle="pill" data-supplierid="@Model.SupplierDTO.Code" href="#tab_landTour" role="tab" aria-controls="custom-tabs-four-messages" aria-selected="false">Land tour</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="diemtq-tab" data-toggle="pill" data-supplierid="@Model.SupplierDTO.Code" href="#tab_diemTQ" role="tab" aria-controls="custom-tabs-four-settings" aria-selected="false">Điểm TQ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="camlao-tab" data-toggle="pill" data-supplierid="@Model.SupplierDTO.Code" href="#tab_camLao" role="tab" aria-controls="custom-tabs-four-settings" aria-selected="false">Cam - Lao</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="vanchuyen-tab" data-toggle="pill" data-supplierid="@Model.SupplierDTO.Code" href="#tab_vanChuyen" role="tab" aria-controls="custom-tabs-four-settings" aria-selected="false">Vận chuyển</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div class="tab-content" id="custom-tabs-four-tabContent">

                <!-- tab_nhaHang -->
                <div class="tab-pane fade active show" id="tab_nhaHang" role="tabpanel" aria-labelledby="custom-tabs-four-home-tab">

                    <div @*class="pr-2 pl-2"*@ style="overflow-x:auto; overflow-y:auto; min-height: 300px" id="tblNhaHang">
                        <table class="table mytable text-nowrap text-sm" id="danhGiaNhaHangTbl">
                            <thead>
                                <tr class="table-info">

                                    <th>
                                        @if (user.Maphong == SD.CUDV || user.Username == "thumai")
                                        {
                                            <button type="button" class="btn btn-success btn-sm btn-block"
                                                asp-action="ThemMoiNhaHang_Partial" title="Thêm mới"
                                                id=btnThemMoiNhaHang data-supplierid="@Model.SupplierDTO.Code">
                                                <i class="fas fa-plus"></i>
                                            </button>
                                        }

                                    </th>
                                    <th>@Html.DisplayNameFor(m => m.DanhGiaNhaHangDTOs.FirstOrDefault().TenNcu)</th>
                                    <th>@Html.DisplayNameFor(m => m.DanhGiaNhaHangDTOs.FirstOrDefault().CoGpkd)</th>
                                    <th>@Html.DisplayNameFor(m => m.DanhGiaNhaHangDTOs.FirstOrDefault().CoHdvat)</th>
                                    <th>@Html.DisplayNameFor(m => m.DanhGiaNhaHangDTOs.FirstOrDefault().ViTri)</th>
                                    <th>@Html.DisplayNameFor(m => m.DanhGiaNhaHangDTOs.FirstOrDefault().SucChuaToiDa)</th>
                                    <th>@Html.DisplayNameFor(m => m.DanhGiaNhaHangDTOs.FirstOrDefault().DinhLuong)</th>
                                    <th>@Html.DisplayNameFor(m => m.DanhGiaNhaHangDTOs.FirstOrDefault().ChatLuong)</th>
                                    <th>@Html.DisplayNameFor(m => m.DanhGiaNhaHangDTOs.FirstOrDefault().NhaVeSinh)</th>
                                    <th>@Html.DisplayNameFor(m => m.DanhGiaNhaHangDTOs.FirstOrDefault().ThaiDoPvcuaNv)</th>
                                    <th>@Html.DisplayNameFor(m => m.DanhGiaNhaHangDTOs.FirstOrDefault().CoPvmienPhiNoiBo)</th>
                                    <th>@Html.DisplayNameFor(m => m.DanhGiaNhaHangDTOs.FirstOrDefault().CoBaiDoXe)</th>
                                    <th>@Html.DisplayNameFor(m => m.DanhGiaNhaHangDTOs.FirstOrDefault().DaCoKhaoSatThucTe)</th>
                                    <th>@Html.DisplayNameFor(m => m.DanhGiaNhaHangDTOs.FirstOrDefault().KqDat)</th>
                                    <th>@Html.DisplayNameFor(m => m.DanhGiaNhaHangDTOs.FirstOrDefault().KqKhaoSatThem)</th>
                                    <th>@Html.DisplayNameFor(m => m.DanhGiaNhaHangDTOs.FirstOrDefault().DongYduaVaoDsncu)</th>
                                    <th>@Html.DisplayNameFor(m => m.DanhGiaNhaHangDTOs.FirstOrDefault().DiaChi)</th>
                                    <th>@Html.DisplayNameFor(m => m.DanhGiaNhaHangDTOs.FirstOrDefault().DienThoai)</th>
                                    <th>@Html.DisplayNameFor(m => m.DanhGiaNhaHangDTOs.FirstOrDefault().Fax)</th>
                                    <th>@Html.DisplayNameFor(m => m.DanhGiaNhaHangDTOs.FirstOrDefault().Email)</th>
                                    <th>@Html.DisplayNameFor(m => m.DanhGiaNhaHangDTOs.FirstOrDefault().Website)</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.DanhGiaNhaHangDTOs != null)
                                {
                                    @foreach (var item in Model.DanhGiaNhaHangDTOs)
                                    {

                                        <tr class="nhahang-cursor-pointer @item.Id">

                                            <td>
                                                <div class="btn-group text-white" role="group">
                                                    @if (user.Maphong == SD.CUDV || user.Username == "thumai")
                                                    {
                                                        <a class="text-primary btnCapNhatNhaHang" title="Cập nhật" data-supplierid="@Model.SupplierDTO.Code" data-id="@item.Id"><i class="fas fa-edit"></i></a>
                                                    }

                                                    @*<span class="text-dark"> | </span>

                                                        <a class="text-success" title="Chi tiết" asp-action="Details" asp-route-id="@item.SoCT" asp-route-strUrl="@Model.StrUrl"><i class="fas fa-list"></i></a>*@
                                                    <!-- ko cho xóa -->
                                            <span class="text-dark"> | </span>
                                                    <form asp-action="Delete" asp-controller="DanhGiaNhaHang" method="post">

                                                        <span id="confirmDeleteSpan_@item.Id" style="display: none">
                                                            <!--ajax check invoices-->
                                                    <span class="text-dark invoiceTrue">Xoá?</span>

                                                            <input type="hidden" name="id" value="@item.Id" />
                                                            <input type="hidden" name="strUrl" value="@Model.StrUrl" />
                                                            <button type="button" class="btn btn-danger btn-xs btnXoaNhaHang" data-supplierid="@Model.SupplierDTO.Code" data-id="@item.Id">Yes</button>
                                                            <button type="button" class="btn btn-primary btn-xs" onclick="confirmDelete('@item.Id', false)">No</button>
                                                        </span>
                                                    </form>
                                                    <span id="deleteSpan_@item.Id">
                                                        @if (user.RoleId != SD.sales)
                                                        {
                                                            <button type="button" data-id="@item.Id" class="text-danger border-0 bg-transparent " title="Xoá" onclick="confirmDelete('@item.Id', true)"><i class="fas fa-trash-alt"></i></button>
                                                        }

                                                    </span>
                                                </div>
                                            </td>

                                            <td class="tdVal" data-id="@item.Id">@Html.DisplayFor(m => item.TenNcu)</td>
                                            <td class="tdVal" data-id="@item.Id">
                                                @if (item.CoGpkd == true)
                                                {
                                                    <span class="badge badge-success">Có</span>
                                                }
                                                else
                                                {
                                                    <span class="badge badge-danger">Không</span>
                                                }
                                            </td>
                                            <td class="tdVal" data-id="@item.Id">
                                                @if (item.CoHdvat == true)
                                                {
                                                    <span class="badge badge-success">Có</span>
                                                }
                                                else
                                                {
                                                    <span class="badge badge-danger">Không</span>
                                                }
                                            </td>
                                            <td class="tdVal" data-id="@item.Id">@Html.DisplayFor(m => item.ViTri)</td>
                                            <td class="tdVal" data-id="@item.Id">@Html.DisplayFor(m => item.SucChuaToiDa)</td>
                                            <td class="tdVal" data-id="@item.Id">@Html.DisplayFor(m => item.DinhLuong)</td>
                                            <td class="tdVal" data-id="@item.Id">@Html.DisplayFor(m => item.ChatLuong)</td>
                                            <td class="tdVal" data-id="@item.Id">@Html.DisplayFor(m => item.NhaVeSinh)</td>
                                            <td class="tdVal" data-id="@item.Id">@Html.DisplayFor(m => item.ThaiDoPvcuaNv)</td>
                                            <td class="tdVal" data-id="@item.Id">@Html.DisplayFor(m => item.CoPvmienPhiNoiBo)</td>
                                            <td class="tdVal" data-id="@item.Id">@Html.DisplayFor(m => item.CoBaiDoXe)</td>
                                            <td class="tdVal" data-id="@item.Id">
                                                @if (item.DaCoKhaoSatThucTe == true)
                                                {
                                                    <span class="badge badge-success">Có</span>
                                                }
                                                else
                                                {
                                                    <span class="badge badge-danger">Chưa</span>
                                                }
                                            </td>
                                            <td class="tdVal" data-id="@item.Id">
                                                @if (item.KqDat == true)
                                                {
                                                    <span class="badge badge-success">Đạt</span>
                                                }
                                                else
                                                {
                                                    <span class="badge badge-danger">Chưa</span>
                                                }
                                            </td>
                                            <td class="tdVal" data-id="@item.Id">
                                                @if (item.KqKhaoSatThem == true)
                                                {
                                                    <span class="badge badge-success">Có</span>
                                                }
                                                else
                                                {
                                                    <span class="badge badge-danger">Không</span>
                                                }
                                            </td>
                                            <td class="tdVal" data-id="@item.Id">
                                                @if (item.DongYduaVaoDsncu == true)
                                                {
                                                    <span class="badge badge-success">Có</span>
                                                }
                                                else
                                                {
                                                    <span class="badge badge-danger">Không</span>
                                                }
                                            </td>
                                            <td class="tdVal" data-id="@item.Id">@Html.DisplayFor(m => item.DiaChi)</td>
                                            <td class="tdVal" data-id="@item.Id">@Html.DisplayFor(m => item.DienThoai)</td>
                                            <td class="tdVal" data-id="@item.Id">@Html.DisplayFor(m => item.Fax)</td>
                                            <td class="tdVal" data-id="@item.Id">@Html.DisplayFor(m => item.Email)</td>
                                            <td class="tdVal" data-id="@item.Id">@Html.DisplayFor(m => item.Website)</td>
                                        </tr>

                                    }
                                }
                            </tbody>
                        </table>
                    </div>

                    <div id="ThemMoiNhaHang_Partial">
                    </div>

                    <div id="CapNhatNhaHang_Partial">
                    </div>
                </div>
                <!-- tab_nhaHang -->
                <!-- tab_khachSan -->
                <div class="tab-pane fade" id="tab_khachSan" role="tabpanel" aria-labelledby="custom-tabs-four-profile-tab">
                    <div id="divKhachSan">
                    </div>

                    <div id="ThemMoiKhachSan_Partial">
                    </div>

                    <div id="CapNhatKhachSan_Partial">
                    </div>
                </div>
                <!-- tab_khachSan -->
                <!-- tab_landTour -->
                <div class="tab-pane fade" id="tab_landTour" role="tabpanel" aria-labelledby="custom-tabs-four-messages-tab">
                    <div id="divLandTour">
                    </div>

                    <div id="ThemMoiLandTour_Partial">
                    </div>

                    <div id="CapNhatLandTour_Partial">
                    </div>
                </div>
                <!-- tab_landTour -->
                <!-- tab_diemTQ -->
                <div class="tab-pane fade" id="tab_diemTQ" role="tabpanel" aria-labelledby="custom-tabs-four-settings-tab">
                    <div id="divDiemTQ">
                    </div>

                    <div id="ThemMoiDTQ_Partial">
                    </div>

                    <div id="CapNhatDTQ_Partial">
                    </div>
                </div>
                <!-- tab_diemTQ -->
                <!-- tab_camLao -->
                <div class="tab-pane fade" id="tab_camLao" role="tabpanel" aria-labelledby="custom-tabs-four-settings-tab">
                    <div id="divCamLao">
                    </div>

                    <div id="ThemMoiCamLao_Partial">
                    </div>

                    <div id="CapNhatCamLao_Partial">
                    </div>
                </div>
                <!-- tab_camLao -->
                <!-- tab_vanChuyen -->
                <div class="tab-pane fade" id="tab_vanChuyen" role="tabpanel" aria-labelledby="custom-tabs-four-settings-tab">
                    <div id="divVanChuyen">
                    </div>

                    <div id="ThemMoiVanChuyen_Partial">
                    </div>

                    <div id="CapNhatVanChuyen_Partial">
                    </div>
                </div>
                <!-- tab_vanChuyen -->
            </div>
        </div>
        <!-- /.card -->
    </div>
</div>
<!--tour programe-->

<script src="~/js/Admin/Supplier/indexController.js"></script>

<script>
    // btnThemMoiNhaHang
    $('#btnThemMoiNhaHang').off('click').on('click', function () {
        $('#tblNhaHang').hide(500);
        $('#CapNhatNhaHang_Partial').hide(500);

        var supplierId = $(this).data('supplierid');
        $.get('/DanhGiaNhaHang/ThemMoiNhaHang_Partial', { supplierId: supplierId }, function (response) {
            $('#ThemMoiNhaHang_Partial').html(response);
            $('#ThemMoiNhaHang_Partial').show(500);

        });
    })

    // btnCapNhatNhaHang
    $('.btnCapNhatNhaHang').off('click').on('click', function (e) {
        e.preventDefault();

        $('#tblNhaHang').hide(500);
        $('#ThemMoiNhaHang_Partial').hide(500);

        var supplierId = $(this).data('supplierid');
        var id = $(this).data('id');
        $.get('/DanhGiaNhaHang/CapNhatNhaHang_Partial', { supplierId: supplierId, id: id }, function (response) {
            $('#CapNhatNhaHang_Partial').html(response);
            $('#CapNhatNhaHang_Partial').show(500);

        });
    })

    // delete
    function confirmDelete(uniqueId, isDeleteClicked) {
        var deleteSpan = 'deleteSpan_' + uniqueId;
        var confirmDeleteSpan = 'confirmDeleteSpan_' + uniqueId;

        if (isDeleteClicked) {
            $('#' + deleteSpan).hide();
            $('#' + confirmDeleteSpan).show();
        } else {
            $('#' + deleteSpan).show();
            $('#' + confirmDeleteSpan).hide();
        }
    }

    // btnXoaNhaHang
    $('.btnXoaNhaHang').off('click').on('click',function () {

        var page = @Model.Page;
        var supplierid = '@Model.SupplierDTO.Code';
        var id = $(this).data('id');

        id = $(this).data('id');

        var url = '/DanhGiaNhaHang/Delete';
        $.post(url, { id: id }, function (response) {

            if (response) {
                toastr.success('Xoá thành công', 'Xoá!');
                indexController.Load_DichVuPartial(supplierid);
            }
        });

    });
    // btnXoaNhaHang

    // khachsan-tab
    $('#khachsan-tab').off('click').on('click',function () {

        //$('#tblNhaHang').hide(500);
        //$('#ThemMoiLandTour_Partial').hide(500);

        var supplierId = $(this).data('supplierid');
        KhachSanTbl(supplierId);
    });
    // khachsan-tab

    function KhachSanTbl(supplierId) {

        $.get('/DanhGiaKhachSan/KhachSan_Partial', { supplierId: supplierId }, function (response) {

            $('#divKhachSan').html(response);
            $('#divKhachSan').show(500);
            $('#CapNhatKhachSan_Partial').hide(500);
            $('#ThemMoiKhachSan_Partial').hide(500);

        });

    }

    // landtour-tab
    $('#landtour-tab').off('click').on('click', function () {

        var supplierId = $(this).data('supplierid');
        LandTourTbl(supplierId);
    });


    function LandTourTbl(supplierId) {

        $.get('/DanhGiaLandTour/LandTour_Partial', { supplierId: supplierId }, function (response) {

            $('#divLandTour').html(response);
            $('#divLandTour').show(500);
            $('#CapNhatLandTour_Partial').hide(500);
            $('#ThemMoiLandTour_Partial').hide(500);

        });

    }

    // diemtq-tab
    $('#diemtq-tab').off('click').on('click', function () {

        var supplierId = $(this).data('supplierid');
        DiemTQTbl(supplierId);
    });


    function DiemTQTbl(supplierId) {

        $.get('/DanhGiaDTQ/DiemThamQuan_Partial', { supplierId: supplierId }, function (response) {

            $('#divDiemTQ').html(response);
            $('#divDiemTQ').show(500);
            $('#CapNhatDTQ_Partial').hide(500);
            $('#ThemMoiDTQ_Partial').hide(500);

        });

    }

    // camlao-tab
    $('#camlao-tab').off('click').on('click', function () {

        var supplierId = $(this).data('supplierid');
        CamLaoTbl(supplierId);
    });


    function CamLaoTbl(supplierId) {

        $.get('/DanhGiaCamLao/CamLao_Partial', { supplierId: supplierId }, function (response) {

            $('#divCamLao').html(response);
            $('#divCamLao').show(500);
            $('#CapNhatCamLao_Partial').hide(500);
            $('#ThemMoiCamLao_Partial').hide(500);

        });

    }

    // vanchuyen-tab
    $('#vanchuyen-tab').off('click').on('click', function () {

        var supplierId = $(this).data('supplierid');
        VanChuyenTbl(supplierId);
    });


    function VanChuyenTbl(supplierId) {

        $.get('/DanhGiaVanChuyen/VanChuyen_Partial', { supplierId: supplierId }, function (response) {

            $('#divVanChuyen').html(response);
            $('#divVanChuyen').show(500);
            $('#CapNhatVanChuyen_Partial').hide(500);
            $('#ThemMoiVanChuyen_Partial').hide(500);

        });

    }

</script>