@model SupplierViewModel

@using X.PagedList;
@using X.PagedList.Mvc.Core
@*@using X.PagedList.Mvc.Core.Common*@
@using X.PagedList.Web.Common

@using Microsoft.AspNetCore.Http
@using Data.Utilities
@using Common;
@inject IHttpContextAccessor HttpContextAccessor

@{
    var user = HttpContextAccessor.HttpContext.Session.GetSingle<Data.Models.User>("loginUser");

    ViewData["Title"] = "Danh Muc";

    Layout = "~/Views/Shared/_Layout.cshtml";


}

<input type="hidden" id="hidStrUrl" value="@Model.StrUrl" />
<input type="hidden" id="hidUserMaPhong" value="@user.Maphong" />
<input type="hidden" id="hidUsername" value="thumai" />

<!-- Main content -->
<section class="content" style="padding: 15px 0.5rem">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title"><i class="fas fa-list-alt text-info"></i> Danh mục supplier</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body p-0">
            <form method="get" autocomplete="off">

                <div class="pr-2 pl-2" style="padding-bottom:10px; padding-top: 6px; ">

                    <div class="col-md-12">
                        <div class="row rounded" style="padding-bottom:5px; background-color: aliceblue;" id="search">

                            <div class="col-md-3 text-sm">
                                <label>Nhập thông tin</label>
                                @*@Html.Editor("searchName", new { htmlAttributes = new { @class = "form-control", @value="@ViewData["currentFilter"]" } })*@
                                <input class="form-control form-control-sm" name="searchString" value="@ViewBag.searchString" />
                            </div>
                            @*
                                <div class="col-md-3 text-sm">
                                <label>Từ ngày</label>
                                <input class="form-control form-control-sm maskInput" name="searchFromDate" id="searchFromDate" value="@ViewBag.searchFromDate" />
                                </div>

                                <div class="col-md-3 text-sm">
                                <label>Đến ngày</label>
                                <input class="form-control form-control-sm maskInput" name="searchToDate" id="searchToDate" value="@ViewBag.searchToDate" />
                                </div>
                            *@
                            <div class="col-md-3 text-sm">
                                <label>Tỉnh / Thành phố</label>
                                <select asp-for="SupplierDTO.Tinhtp" class="form-control form-control-sm input-sm select2" value="@ViewBag.loaiDV"
                                        asp-items="@(new SelectList(Model.VTinhs, "Matinh", "Tentinh"))" id="ddlTinhTP">
                                </select>
                            </div>

                            <div class="col-md-3 text-sm">
                                <label>&nbsp;</label>
                                <div class=" btn-block ">
                                    <button type="submit" class="btn btn-primary btn-sm" id="btnSubmit">
                                        <i class="fas fa-search"></i>
                                    </button>
                                    @*@if (user.Maphong == SD.CUDV || user.Username == "thumai")
                                        {
                                        <a class="btn btn-outline-info btn-sm" asp-action="Create" asp-route-strUrl="@Model.StrUrl" title="Thêm mới"><i class="fas fa-plus"></i></a>

                                        <button type="submit" formaction="/Supplier/ExportExcel" formmethod="post" class="btn btn-outline-success btn-sm" id="btnExportExcel" title="Export excel"><i class="fas fa-file-excel"></i> Excel</button>
                                        }*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            @*<br />*@
            <div class="pr-2 pl-2" style="overflow-x:auto; overflow-y:auto; height: 300px">
                <table class="table mytable text-nowrap text-sm" id="supplierTbl">
                    <thead>
                        <tr class="table-info">

                            <th>@Html.DisplayNameFor(m => m.SupplierDTOs.FirstOrDefault().Code)</th>
                            <th>@Html.DisplayNameFor(m => m.SupplierDTOs.FirstOrDefault().LoaiSao)</th>
                            <th>@Html.DisplayNameFor(m => m.SupplierDTOs.FirstOrDefault().LoaiDvid)</th>
                            <th>@Html.DisplayNameFor(m => m.SupplierDTOs.FirstOrDefault().Tengiaodich)</th>
                            @*<th>@Html.DisplayNameFor(m => m.SupplierDTOs.FirstOrDefault().Diachi)</th>*@
                            <th>Tỉnh / Thành phố</th>
                            <th>@Html.DisplayNameFor(m => m.SupplierDTOs.FirstOrDefault().Tenthuongmai)</th>
                            @*<th>@Html.DisplayNameFor(m => m.SupplierDTOs.FirstOrDefault().Masothue)</th>*@
                            <th>@Html.DisplayNameFor(m => m.SupplierDTOs.FirstOrDefault().TapDoanId)</th>
                            @*<th>@Html.DisplayNameFor(m => m.SupplierDTOs.FirstOrDefault().Trangthai)</th>*@
@*
                            <th>@Html.DisplayNameFor(m => m.SupplierDTOs.FirstOrDefault().NguoiTrinhKyHd)</th>
                            <th>@Html.DisplayNameFor(m => m.SupplierDTOs.FirstOrDefault().KhuyenNghi)</th>
                            <th>@Html.DisplayNameFor(m => m.SupplierDTOs.FirstOrDefault().Ngaytao)</th>*@
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.SupplierDTOs != null)
                        {
                            @foreach (var item in Model.SupplierDTOs.Where(x => x.Trangthai))
                            {

                                <tr class="supplier-cursor-pointer @item.Code" onclick="TabDichVu()">

                                    <td class="tdVal" data-id="@item.Code">@Html.DisplayFor(m => item.Code)</td>
                                    <td class="tdVal" data-id="@item.Code">@Html.DisplayFor(m => item.LoaiSao)</td>
                                    <td class="tdVal" data-id="@item.Code">@Html.Raw(item.LoaiDvDTO == null ? "" : item.LoaiDvDTO.TenLoai)</td>
                                    <td class="tdVal" data-id="@item.Code" style="max-width:300px; resize:horizontal; overflow-y:auto;">@Html.DisplayFor(m => item.Tengiaodich)</td>
                                    @*<td class="tdVal" data-id="@item.Code" style="max-width:300px; resize:horizontal; overflow-y:auto;">@Html.DisplayFor(m => item.Diachi)</td>*@
                                    <td class="tdVal" data-id="@item.Code">@Html.DisplayFor(m => item.TinhtpName)</td>
                                    <td class="tdVal" data-id="@item.Code" style="max-width:300px; resize:horizontal; overflow-y:auto;">@Html.DisplayFor(m => item.Tenthuongmai)</td>
                                    @*<td class="tdVal" data-id="@item.Code">@Html.DisplayFor(m => item.Masothue)</td>*@
                                    <td class="tdVal" data-id="@item.Code">@(item.TapDoanDTO == null ? "" : item.TapDoanDTO.Ten)</td>
                                    @*<td class="tdVal" data-id="@item.Code">
                                        @if (item.Trangthai)
                                        {
                                            <span class="badge badge-success">Kích hoạt</span>
                                        }
                                        else
                                        {
                                            <span class="badge badge-danger">Khoá</span>
                                        }
                                    </td>*@
@*
                                    <td class="tdVal" data-id="@item.Code">@Html.DisplayFor(m => item.NguoiTrinhKyHd)</td>
                                    <td class="tdVal" data-id="@item.Code">@Html.DisplayFor(m => item.KhuyenNghi)</td>
                                    <td class="tdVal" data-id="@item.Code">@Html.Raw(item.Ngaytao.ToString("dd/MM/yyyy"))</td>*@
                                </tr>

                            }
                        }
                    </tbody>
                </table>
            </div>
            <div class="p-2" style="background-color: aliceblue;">
                @if (Model.SupplierDTOs != null)
                {
                    @Html.PagedListPager((IPagedList)Model.SupplierDTOs, page => Url.Action("IndexUser", new
                {
                page = page,
                option = Context.Request.Query["option"],
                searchString = @ViewBag.searchString,
                searchFromDate = @ViewBag.searchFromDate,
                searchToDate = @ViewBag.searchToDate,
                loaiDV = @ViewBag.loaiDV
                }),
                PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new PagedListRenderOptions
                {
                LiElementClasses = new string[] { "page-item" },
                PageClasses = new string[] { "page-link" },
                MaximumPageNumbersToDisplay = 5,
                UlElementClasses = new[] { "pagination pagination-sm m-0" }, // ul class
                ContainerDivClasses = new[] { "pagination-container" }
                }, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "nameListContainer" }))
                }
            </div>
            <!--Hop Dong-->
            <div id="dichVu1_Tbl">
            </div>
        </div>
        <!-- /.card-body -->
        @*<div class="card-footer">
            Footer
            </div>*@
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->
</section>
<!-- /.content DichVuPartial-->
@*<div id="tabDichVu">
</div>*@

<input type="hidden" id="hidSearchString" value="@Model.SearchString" />

@section Scripts{

<script src="~/js/Admin/Supplier/indexUserController.js"></script>
<script>

    var id_Redirect = '@ViewBag.id'; //Id sau khi redirect ve //////////////////////////////////////////////

    // giữ trạng thái
    if (id_Redirect !== '') {

        var id_Redirect_Class = $('.' + id_Redirect);

        if (id_Redirect_Class.hasClass("hoverClass")) {
            id_Redirect_Class.removeClass("hoverClass");
        }
        else {
            id_Redirect_Class.removeClass("hoverClass");
            id_Redirect_Class.addClass("hoverClass");
        }

        indexController.Load_DichVu1Partial(id_Redirect, '@Model.Page', '@Model.SearchString');
        //if ('user.Maphong' === 'SD.CUDV' || '@user.Username' == 'thumai'){
        //    indexController.Load_DichVuPartial(id_Redirect);
        //}

    }
    // giữ trạng thái

    function confirmDelete(uniqueId, isDeleteClicked) {
        var deleteSpan = 'deleteSpan_' + uniqueId;
        var confirmDeleteSpan = 'confirmDeleteSpan_' + uniqueId;

        if (isDeleteClicked) {
            $('#' + deleteSpan).hide();
            $('#' + confirmDeleteSpan).show();
        } else {
            $('#' + deleteSpan).show();
            $('#' + confirmDeleteSpan).hide();
        }
    }
    function confirmInvoiceDelete(uniqueId, isDeleteClicked) {
        var deleteSpan = 'deleteInvoiceSpan_' + uniqueId;
        var confirmDeleteSpan = 'confirmInvoiceDeleteSpan_' + uniqueId;

        if (isDeleteClicked) {
            $('#' + deleteSpan).hide();
            $('#' + confirmDeleteSpan).show();
        } else {
            $('#' + deleteSpan).show();
            $('#' + confirmDeleteSpan).hide();
        }
    }

    // giu trang thai phieu click
    $('#supplierTbl .supplier-cursor-pointer').off('click').on('click', function () {
        if ($(this).hasClass("hoverClass"))
            $(this).removeClass("hoverClass");
        else {
            $('.supplier-cursor-pointer').removeClass("hoverClass");
            $(this).addClass("hoverClass");
        }
    });
    // giu trang thai phieu click

    $('tr .tdVal').click(function () {
        id = $(this).data('id');

        // page
        var page = $('.active span').text();
        // hidSearchString
        var searchString = $('#hidSearchString').val();

        //indexController.Load_DichVu1Partial(id, page, searchString);
        //if ('user.Maphong' === 'SD.CUDV' || 'user.Username' === 'thumai'){
        //    indexController.Load_DichVuPartial(id); // danhgia DV

        //}
    });

    function TabDichVu() { // tab href
        location.href = "#tabDichVu";
    }
</script>
}