
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewData["Title"]</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/lib/AdminLTE-3.1.0/plugins/fontawesome-free/css/all.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="~/lib/AdminLTE-3.1.0/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/lib/AdminLTE-3.1.0/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/lib/AdminLTE-3.1.0/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    <!-- Select2 -->
    <link href="~/lib/AdminLTE-3.1.0/plugins/select2/css/select2.css" rel="stylesheet" />
    <link href="~/lib/AdminLTE-3.1.0/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css" rel="stylesheet" />
    <!-- Theme style -->
    <link rel="stylesheet" href="~/lib/AdminLTE-3.1.0/dist/css/adminlte.css">
    <!-- jqueryui-->
    <link href="~/lib/AdminLTE-3.1.0/plugins/jquery-ui/jquery-ui.css" rel="stylesheet" />
    <!-- Toastr -->
    <link rel="stylesheet" href="~/lib/AdminLTE-3.1.0/plugins/toastr/toastr.min.css">
    <!-- pace-progress -->
    <link href="~/lib/AdminLTE-3.1.0/plugins/pace-progress/themes/orange/pace-theme-flat-top.css" rel="stylesheet" />

    <!-- include summernote css/js-->
    <link href="~/lib/AdminLTE-3.1.0/plugins/summernote/summernote-bs4.css" rel="stylesheet" />
    
    <!--<script src="~/lib/shortcut.js"></script> -->
    <script src="~/lib/shortcut.js"></script>

    <link href="~/images/LogoLeft.ico" rel="shortcut icon" />
    <link href="~/css/MyCss.css" rel="stylesheet" />

</head>
@*
@using Common;
@using Microsoft.AspNetCore.Http
@using Data.Utilities
@inject IHttpContextAccessor HttpContextAccessor
@{
    var user = HttpContextAccessor.HttpContext.Session.GetSingle<Data.Models.User>("loginUser");
}*@
<body class="hold-transition layout-top-nav">

    <div class="wrapper">

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand-sm navbar-dark text-sm" style="background-color:#3c8dbc; padding:0.2rem 0.2rem">
            <div class="container">
                <a href="~/lib/AdminLTE-3.1.0/index3.html" class="navbar-brand">
                    @*<img src="~/lib/AdminLTE-3.1.0/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">*@
                    <img src="~/images/logo1.png" alt="AdminLTE Logo" class="brand-image " style="opacity: .8">
                    @*<span class="brand-text font-weight-light ">Saigontourist</span>*@
                </a>

                <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse order-3" id="navbarCollapse">
                    <!-- Left navbar links -->
                    <partial name="_TopMenu.cshtml" />

                    <!-- SEARCH FORM -->
                    @*<form class="form-inline ml-0 ml-md-3">
                        <div class="input-group input-group-sm">
                        <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                        <div class="input-group-append">
                        <button class="btn btn-navbar" type="submit">
                        <i class="fas fa-search"></i>
                        </button>
                        </div>
                        </div>
                        </form>*@
                </div>
            </div>
            <partial name="_LoginPartial.cshtml" />
        </nav>
        <!-- /.navbar -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper" style="min-height: 1602px;">
            @if (TempData["AlertMessage"] != null)
            {
                <div id="AlertBox" class="alert @TempData["AlertType"] hide">
                    @TempData["AlertMessage"]
                </div>
            }
            @RenderBody()
        </div>
        <!-- /.content-wrapper -->
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <div class="float-right d-none d-sm-inline">
                Intranet folder
            </div>
            <!-- Default to the left -->
            <strong>Copyright &copy; 2021 <a href="/">Saigontourist</a>.</strong> All rights reserved.
        </footer>
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="~/lib/AdminLTE-3.1.0/plugins/jquery/jquery.min.js"></script>
    <script src="~/lib/AdminLTE-3.1.0/plugins/jquery-ui/jquery-ui.js"></script>
    <script src="~/lib/AdminLTE-3.1.0/plugins/jquery-validation/jquery.validate.js"></script>
    <script src="~/lib/AdminLTE-3.1.0/plugins/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/AdminLTE-3.1.0/plugins/bootbox.js/bootbox.js"></script>
    <script src="~/lib/numeral.js/numeral.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/lib/AdminLTE-3.1.0/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- DataTables  & Plugins -->
    <script src="~/lib/AdminLTE-3.1.0/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/lib/AdminLTE-3.1.0/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/lib/AdminLTE-3.1.0/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/lib/AdminLTE-3.1.0/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/lib/AdminLTE-3.1.0/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/lib/AdminLTE-3.1.0/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/lib/AdminLTE-3.1.0/plugins/jszip/jszip.min.js"></script>
    <script src="~/lib/AdminLTE-3.1.0/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/lib/AdminLTE-3.1.0/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/lib/AdminLTE-3.1.0/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/lib/AdminLTE-3.1.0/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/lib/AdminLTE-3.1.0/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <!-- Select2-->
    @*<script src="~/lib/AdminLTE-3.1.0/plugins/select2/js/select2.js"></script>*@
    <script src="~/lib/AdminLTE-3.1.0/plugins/select2/js/select2.full.js"></script>
    <!-- AdminLTE App -->
    <script src="~/lib/jquery.maskedinput/jquery.maskedinput.js"></script>
    <script src="~/lib/AdminLTE-3.1.0/dist/js/adminlte.min.js"></script>
    <!-- Toastr -->
    <script src="~/lib/AdminLTE-3.1.0/plugins/toastr/toastr.min.js"></script>
    <!-- pace-progress -->
    <script src="~/lib/AdminLTE-3.1.0/plugins/pace-progress/pace.min.js"></script>
    <script src="~/lib/AdminLTE-3.1.0/plugins/summernote/summernote-bs4.js"></script>
    @RenderSection("Scripts", required: false)

    <script>
        $(function () {
            $(".maskInput").mask("99/99/9999");

            $('#AlertBox').removeClass('hide');
            $('#AlertBox').delay(1000).slideUp(1000);
        });

    </script>
    <style>
        .error {
            color: red;
        }

        .mytable tr:hover {
            background-color: #ECF5F5;
            cursor: pointer;
        }

        .hoverClass {
            /*background-color: #3C8DBC;*/
            background-color: #cce8ff;
            /*color: white;*/
        }

        .card {
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        .mytable {
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
    </style>
</body>
</html>
