@model DanhGiaDTQViewModel
@using Microsoft.AspNetCore.Http
@using Data.Utilities
@using Common;
@inject IHttpContextAccessor HttpContextAccessor

@{

    var user = HttpContextAccessor.HttpContext.Session.GetSingle<User>("loginUser");
}

<div @*class="pr-2 pl-2"*@ style="overflow-x:auto; overflow-y:auto; min-height: 300px" id="tblDTQ">
    <table class="table mytable text-nowrap text-sm" id="danhGiaDTQTbl">
        <thead>
            <tr class="table-info">

                <th>
                    @if (user.Maphong == SD.CUDV || user.Username == "thumai")
                    {
                        <button type="button" class="btn btn-success btn-sm btn-block"
                            asp-action="ThemMoiDTQ_Partial" title="Thêm mới"
                            id="btnThemMoiDTQ" data-supplierid="@Model.SupplierDTO.Code">
                            <i class="fas fa-plus"></i>
                        </button>
                    }

                </th>
                <th>@Html.DisplayNameFor(m => m.DanhGiaDTQDTOs.FirstOrDefault().TenNcu)</th>
                @*<th>@Html.DisplayNameFor(m => m.DanhGiaDTQDTOs.FirstOrDefault().DiaChi)</th>
                <th>@Html.DisplayNameFor(m => m.DanhGiaDTQDTOs.FirstOrDefault().DienThoai)</th>
                <th>@Html.DisplayNameFor(m => m.DanhGiaDTQDTOs.FirstOrDefault().Fax)</th>
                <th>@Html.DisplayNameFor(m => m.DanhGiaDTQDTOs.FirstOrDefault().Email)</th>
                <th>@Html.DisplayNameFor(m => m.DanhGiaDTQDTOs.FirstOrDefault().Website)</th>*@
                <th>@Html.DisplayNameFor(m => m.DanhGiaDTQDTOs.FirstOrDefault().CoGpkd)</th>
                <th>@Html.DisplayNameFor(m => m.DanhGiaDTQDTOs.FirstOrDefault().CoHdvat)</th>
                <th>@Html.DisplayNameFor(m => m.DanhGiaDTQDTOs.FirstOrDefault().ViTri)</th>
                <th>@Html.DisplayNameFor(m => m.DanhGiaDTQDTOs.FirstOrDefault().SucChuaToiDa)</th>
                <th>@Html.DisplayNameFor(m => m.DanhGiaDTQDTOs.FirstOrDefault().MucDoHapDan)</th>
                <th>@Html.DisplayNameFor(m => m.DanhGiaDTQDTOs.FirstOrDefault().CoNhaHang)</th>
                <th>@Html.DisplayNameFor(m => m.DanhGiaDTQDTOs.FirstOrDefault().CoNhaVeSinh)</th>
                <th>@Html.DisplayNameFor(m => m.DanhGiaDTQDTOs.FirstOrDefault().ThaiDoPvcuaNv)</th>
                <th>@Html.DisplayNameFor(m => m.DanhGiaDTQDTOs.FirstOrDefault().PhuongTienPvvuiChoi)</th>
                <th>@Html.DisplayNameFor(m => m.DanhGiaDTQDTOs.FirstOrDefault().CoBaiDoXe)</th>
                <th>@Html.DisplayNameFor(m => m.DanhGiaDTQDTOs.FirstOrDefault().DaCoKhaoSatThucTe)</th>
                <th>@Html.DisplayNameFor(m => m.DanhGiaDTQDTOs.FirstOrDefault().KqDat)</th>
                <th>@Html.DisplayNameFor(m => m.DanhGiaDTQDTOs.FirstOrDefault().KqKhaoSatThem)</th>
                <th>@Html.DisplayNameFor(m => m.DanhGiaDTQDTOs.FirstOrDefault().DongYduaVaoDsncu)</th>
                <th>@Html.DisplayNameFor(m => m.DanhGiaDTQDTOs.FirstOrDefault().TiemNang)</th>
                <th>@Html.DisplayNameFor(m => m.DanhGiaDTQDTOs.FirstOrDefault().TaiKy)</th>
                <th>@Html.DisplayNameFor(m => m.DanhGiaDTQDTOs.FirstOrDefault().NguoiDanhGia)</th>

            </tr>
        </thead>
        <tbody>
            @if (Model.DanhGiaDTQDTOs != null)
            {
                @foreach (var item in Model.DanhGiaDTQDTOs)
                {

                    <tr class="lantour-cursor-pointer @item.Id">

                        <td>
                            <div class="btn-group text-white" role="group">
                                @if (user.Maphong == SD.CUDV || user.Username == "thumai")
                                {
                                    <a class="text-primary btnCapNhatDTQ" title="Cập nhật" data-supplierid="@Model.SupplierDTO.Code" data-id="@item.Id"><i class="fas fa-edit"></i></a>
                                    @*<span class="text-dark"> | </span>

                                        <a class="text-success" title="Chi tiết" asp-action="Details" asp-route-id="@item.SoCT" asp-route-strUrl="@Model.StrUrl"><i class="fas fa-list"></i></a>*@
                                    <!-- ko cho xóa -->
                                    <span class="text-dark"> | </span>
                                }

                                @*<form asp-action="Delete" asp-controller="DanhGiaLandTour" method="post">*@

                                <span id="confirmDeleteDTQ_@item.Id" style="display: none">
                                    <!--ajax check invoices-->
                            <span class="text-dark ">Xoá?</span>

                                    @*<input type="hidden" name="id" value="@item.Id" />
                                        <input type="hidden" name="strUrl" value="@Model.StrUrl" />*@
                                    <button type="button" class="btn btn-danger btn-xs btnXoaDTQ" data-supplierid="@Model.SupplierDTO.Code" data-id="@item.Id">Yes</button>
                                    <button type="button" class="btn btn-primary btn-xs" onclick="confirmDeleteDTQ('@item.Id', false)">No</button>
                                </span>
                                @*</form>*@
                                <span id="deleteSpan_@item.Id">
                                    @if (user.Maphong == SD.CUDV || user.Username == "thumai")
                                    {
                                        <button type="button" data-id="@item.Id" class="text-danger border-0 bg-transparent " title="Xoá" onclick="confirmDeleteDTQ('@item.Id', true)"><i class="fas fa-trash-alt"></i></button>
                                    }
                                </span>
                            </div>
                        </td>

                        <td class="tdVal" data-id="@item.Id">@Html.DisplayFor(m => item.TenNcu)</td>
                        @*<td class="tdVal" data-id="@item.Id">@Html.DisplayFor(m => item.DiaChi)</td>
                        <td class="tdVal" data-id="@item.Id">@Html.DisplayFor(m => item.DienThoai)</td>
                        <td class="tdVal" data-id="@item.Id">@Html.DisplayFor(m => item.Fax)</td>
                        <td class="tdVal" data-id="@item.Id">@Html.DisplayFor(m => item.Email)</td>
                        <td class="tdVal" data-id="@item.Id">@Html.DisplayFor(m => item.Website)</td>*@
                        <td class="tdVal" data-id="@item.Id">
                            @if (item.CoGpkd == true)
                            {
                                <span class="badge badge-success">Có</span>
                            }
                            else
                            {
                                <span class="badge badge-danger">Không</span>
                            }
                        </td>
                        <td class="tdVal" data-id="@item.Id">
                            @if (item.CoHdvat == true)
                            {
                                <span class="badge badge-success">Có</span>
                            }
                            else
                            {
                                <span class="badge badge-danger">Không</span>
                            }
                        </td>
                        <td class="tdVal" data-id="@item.Id">@Html.DisplayFor(m => item.ViTri)</td>
                        <td class="tdVal" data-id="@item.Id">@Html.DisplayFor(m => item.SucChuaToiDa)</td>
                        <td class="tdVal" data-id="@item.Id">@Html.DisplayFor(m => item.MucDoHapDan)</td>
                        <td class="tdVal" data-id="@item.Id">@Html.DisplayFor(m => item.CoNhaHang)</td>
                        <td class="tdVal" data-id="@item.Id">@Html.DisplayFor(m => item.CoNhaVeSinh)</td>
                        <td class="tdVal" data-id="@item.Id">@Html.DisplayFor(m => item.ThaiDoPvcuaNv)</td>
                        <td class="tdVal" data-id="@item.Id">@Html.DisplayFor(m => item.PhuongTienPvvuiChoi)</td>
                        <td class="tdVal" data-id="@item.Id">@Html.DisplayFor(m => item.CoBaiDoXe)</td>
                        <td class="tdVal" data-id="@item.Id">
                            @if (item.DaCoKhaoSatThucTe == true)
                            {
                                <span class="badge badge-success">Có</span>
                            }
                            else
                            {
                                <span class="badge badge-danger">Chưa</span>
                            }
                        </td>
                        <td class="tdVal" data-id="@item.Id">
                            @if (item.KqDat == true)
                            {
                                <span class="badge badge-success">Đạt</span>
                            }
                            else
                            {
                                <span class="badge badge-danger">Chưa</span>
                            }
                        </td>
                        <td class="tdVal" data-id="@item.Id">
                            @if (item.KqKhaoSatThem == true)
                            {
                                <span class="badge badge-success">Có</span>
                            }
                            else
                            {
                                <span class="badge badge-danger">Không</span>
                            }
                        </td>
                        <td class="tdVal" data-id="@item.Id">
                            @if (item.DongYduaVaoDsncu == true)
                            {
                                <span class="badge badge-success">Có</span>
                            }
                            else
                            {
                                <span class="badge badge-danger">Không</span>
                            }
                        </td>
                        <td class="tdVal" data-id="@item.Id">@Html.DisplayFor(m => item.TiemNang)</td>
                        <td class="tdVal" data-id="@item.Id">@Html.DisplayFor(m => item.TaiKy)</td>
                        <td class="tdVal" data-id="@item.Id">@Html.DisplayFor(m => item.NguoiDanhGia)</td>

                    </tr>

                }
            }
        </tbody>
    </table>
</div>

<script>

    // delete
    function confirmDeleteDTQ(uniqueId, isDeleteClicked) { /////////////////////////////////
        var deleteSpan = 'deleteSpan_' + uniqueId;
        var confirmDeleteDTQSpan = 'confirmDeleteDTQ_' + uniqueId;

        if (isDeleteClicked) {
            $('#' + deleteSpan).hide();
            $('#' + confirmDeleteDTQSpan).show();
        } else {
            $('#' + deleteSpan).show();
            $('#' + confirmDeleteDTQSpan).hide();
        }
    }

    // btnThemMoiDTQ
    $('#btnThemMoiDTQ').off('click').on('click', function () {
        $('#divDiemTQ').hide(500);
        $('#CapNhatDTQ_Partial').hide(500);

        var supplierId = $(this).data('supplierid');
        $.get('/DanhGiaDTQ/ThemMoiDTQ_Partial', { supplierId: supplierId }, function (response) {
            $('#ThemMoiDTQ_Partial').html(response);
            $('#ThemMoiDTQ_Partial').show(500);

        });
    })

    // btnCapNhatDTQ
    $('.btnCapNhatDTQ').click(function (e) {
        e.preventDefault();

        $('#divDiemTQ').hide(500);
        $('#ThemMoiDTQ_Partial').hide(500);

        var supplierId = $(this).data('supplierid');
        var id = $(this).data('id');
        $.get('/DanhGiaDTQ/CapNhatDTQ_Partial', { supplierId: supplierId, id: id }, function (response) {
            $('#CapNhatDTQ_Partial').html(response);
            $('#CapNhatDTQ_Partial').show(500);

        });
    })

    // btnXoaDTQ
    $('.btnXoaDTQ').off('click').on('click',function () {

        var page = @Model.Page;
        var supplierid = '@Model.SupplierDTO.Code';
        var id = $(this).data('id');

        id = $(this).data('id');

        var url = '/DanhGiaDTQ/Delete';
        $.post(url, { id: id }, function (response) {

            if (response) {
                toastr.success('Xoá thành công', 'Xoá!');
                DiemTQTbl(supplierid);
            }
        });

    });
    // btnXoaNhaHang
</script>